{{!-- <img class="img-fluid" src="../assets/images/burger_photo.jpg" alt="burger photo"> --}}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="../assets/images/burger_photo2.jpg" class="d-block w-100" alt="burger photo">
    </div>
    <div class="carousel-item">
      <img src="../assets/images/burger_photo3.jpg" class="d-block w-100" alt="hamburger">
    </div>
    <div class="carousel-item">
      <img src="../assets/images/burger_photo.jpg" class="d-block w-100" alt="hamburger photo">
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid text-center mb-5">
  <div class="container pr-5 pl-5 pt-0 pb-0">
    <h1 class="display-4">Eat Da Burger</h1>
    <p class="lead">Enter a burger you'd like to eat and click the submit button.</p>
  </div>
</div>
<div class="container text-center pt-1 pr-5 pb-5 pl-5">

  <div class="row">

    <div class="col-md-4 text-center">
      <form id="createburger" class="button-size">
        <input class="form-control" name="burger" type="text" placeholder="Enter a burger here">

        {{!-- <textarea type="text" name="burger" class="widefield"></textarea><br> --}}
        {{!-- <button type="submit" class="mt-1">Submit</button> --}}
        <button type="submit" class="btn btn-dark mt-2 mb-3">Submit</button>

      </form>
    </div>

    <div class="col-md-4">

      {{#each burgers}}
      {{#if devoured}}
      {{else}}
      <div class="card text-center mb-3">
        <div class="card-body">
          {{!-- <p class="card-text">{{this.id}}. {{this.plan}}</p> --}}

          <p class="card-text">{{this.burger}}</p>
          {{!-- <button data-planid="{{this.id}}" class="delplan">Devour</button> --}}
          <button data-burgerid="{{this.id}}" type="button" class="btn btn-dark delburger">Devour</button>

        </div>
      </div>
      {{/if}}
      {{/each}}
    </div>


    <div class="col-md-4">
      {{#each burgers}}
      {{#if devoured}}
      <div class="card text-center mb-3">
        <div class="card-body">

          <p class="card-text">{{this.burger}}</p>

        </div>
      </div>
      {{else}}

      {{/if}}
      {{/each}}
    </div>
  </div>


  <div class="alert alert-light mt-5 mb-5 pt-5 text-center small" role="alert">
    Photo courtesy of <a href="https://unsplash.com/">Unsplash</a>.
  </div>


  <script type="text/javascript">
    $(".delburger").on("click", function (event) {
      // Get the ID from the button.
      // This is shorthand for $(this).attr("data-planid")
      var id = $(this).data("burgerid");

      // Send the DELETE request.
      $.ajax("/api/burgers/" + id, {
        type: "PUT"
      }).then(
        function () {
          console.log("deleted id ", id);
          // Reload the page to get the updated list
          location.reload();
        }
      );
    });

    $("#createburger").on("submit", function (event) {
      // Make sure to preventDefault on a submit event.
      event.preventDefault();

      // [name=plan] will find an element with a "name" attribute equal to the string "plan"
      var newBurger = {
        burger: $("#createburger [name=burger]").val().trim()
      };

      // Send the POST request.
      $.ajax("/api/burgers", {
        type: "POST",
        data: newBurger
      }).then(
        function () {
          console.log("created new burger");
          // Reload the page to get the updated list
          location.reload();
        }
      );
    });

    $("#updateburger").on("submit", function (event) {
      // Make sure to preventDefault on a submit event.
      event.preventDefault();

      // Get the ID by finding an element with a "name" attribute equal to the string "id"
      var id = $("[name=id]").val().trim();

      var updatedBurger = {
        burger: $("#updateburger [name=burger]").val().trim()
      };

      // Send the PUT request.
      $.ajax("/api/burgers/" + id, {
        type: "PUT",
        data: updatedBurger
      }).then(
        function () {
          console.log("updated id ", id);
          // Reload the page to get the updated list
          location.reload();
        }
      );
    });
  </script>